<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数字大小写转换</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<script src="/test1/最终极版本/static/js/JQuery-3.6.1.min.js"></script>
<script src="/test1/最终极版本/static/js/t01.js"></script>
<body>
<div class="box">
    <!-- 这是背景的盒子 -->
    <form id="myForm" method="post" style="margin: auto auto">
        <ul class="window">
            <li>
                输入<input type="text" placeholder="请输入大写或小写数字" style="width: 200px;height: 30px;" class="输入"
                       id="num" name="input">

            </li>
            <li>输出<input type="text" style="width: 200px;height: 30px;" class="jie" id="result"></li>
            <li class="zuihou">
                <input type="submit" id="submit" onclick="submit()">
                <input type="reset" id="reset" onclick="reset()">
            </li>
        </ul>
    </form>
</div>

</body>

</html>